<div class="orders-container">
    <h2>Orders</h2>
    <div class="orders-search-box" fxLayout="row" fxLayoutAlign="end">
        <button type="button" color="primary" mat-raised-button [matMenuTriggerFor]="accountMenu"
            aria-label="Filter status button">
            {{ status || 'Status' }}
        </button>
        <mat-menu #accountMenu xPosition="before" yPosition="below">
            <button type="button" mat-menu-item (click)="filterStatus(undefined)">Any</button>
            <button type="button" mat-menu-item (click)="filterStatus('CREATED')">CREATED</button>
            <button type="button" mat-menu-item (click)="filterStatus('CONFIRMED')">CONFIRMED</button>
            <button type="button" mat-menu-item (click)="filterStatus('PROCESSING')">PROCESSING</button>
            <button type="button" mat-menu-item
                (click)="filterStatus('PARTIALLY_FULFILLED')">PARTIALLY_FULFILLED</button>
            <button type="button" mat-menu-item (click)="filterStatus('FULFILLED')">FULFILLED</button>
            <button type="button" mat-menu-item (click)="filterStatus('CANCELLED')">CANCELLED</button>
        </mat-menu>
    </div>
    <div class="orders-table-container mat-elevation-z8">
        <mat-table [dataSource]="orders" matSort>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                <mat-cell *matCellDef="let order">{{ order.id }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
                <mat-cell *matCellDef="let order">
                    {{ order.capturedAmount | currencyFormatter: order.currency }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                <mat-cell *matCellDef="let order">{{ order.status }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="createdAt">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Created</mat-header-cell>
                <mat-cell *matCellDef="let order">
                    {{ order.createdAt | date: 'medium' }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="details">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let order">
                    <button type="button" mat-stroked-button (click)="details(order.id)">Details</button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        </mat-table>
        <mat-paginator [length]="totalOrders" [pageSize]="initialTableSize" [pageSizeOptions]="[5, 10, 15, 20]"
            showFirstLastButtons>
        </mat-paginator>
    </div>
</div>