.orders-container {
    width: 95%;
    margin: auto;
    padding-top: 12px;
    margin-bottom: 20px;
}

.orders-table-container {
    overflow-x: auto;
    min-width: 900px;
}

.orders-search-box {
    margin-bottom: 10px;
}
