.login-side {
    background-color: var(--primary);
}

.login-title {
    color: white;
}

.login-form-field, .login-submit {
    margin-bottom: 8px;
}

.login-submit {
    margin-top: 20px;
}

@media screen and (max-width: 599px) {

    .login-title {
        padding-top: 16px;
        padding-bottom: 16px;
        text-align: center;
    }

    .login-form-field, .login-submit {
        text-align: center;
    }

    .login-form {
        padding-top: 10%;
    }

}

@media screen and (min-width: 600px) {

    .login-container {
        min-height: 100%;
    }

    .login-title {
        margin-left: 10%;
        margin-top: 40%;
    }

    .login-form {
        padding-left: 15%;
        margin-top: 35%;
    }

}
