<div fxLayout.gt-xs="row" fxLayout.lt-sm="column" class="login-container">
    <div fxFlex="40" class="login-side mat-typography">
        <div class="login-title">
            <h2>Login</h2>
            <p>Login to access</p>
        </div>
    </div>
    <div fxFlex="60" class="login-main">
        <form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
            <div class="login-form-field">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email">
                    <button type="button" mat-button matSuffix mat-icon-button aria-label="Clear"
                        (click)="loginForm.controls.email.setValue('')">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error>Must be a valid email</mat-error>
                </mat-form-field>
            </div>
            <div class="login-form-field">
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <button type="button" mat-button matSuffix mat-icon-button aria-label="Clear"
                        (click)="loginForm.controls.password.setValue('')">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error>Password is required</mat-error>
                </mat-form-field>
            </div>
            <div class="login-submit">
                <button type="submit" color="primary" mat-raised-button [disabled]="loginForm.invalid">Login</button>
            </div>
        </form>
    </div>
</div>