mat-toolbar {
    position: fixed;
    z-index: 3;
}

.dashboard-user-email {
    padding-right: 8px;
}

.toolbar-content {
    width: 100%;
}

.dashboard-sidenav {
    background-color: var(--primary-shade-1);
    width: 112px;
}

.sidenav-item {
    margin: auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.sidenav-item mat-icon {
    margin: auto;
    transform: scale(1);
}

.active-route {
    color: white !important;
}

.dashboard-content {
    padding-top: 64px;
}

@media screen and (max-width: 599px) {

}

@media screen and (min-width: 600px) {

}
